body, html {
    margin: 0;
    padding:0;
    width: 100%;
    background-color: #444;
}

#map, #chat, #header {
    margin: auto;
    width: 720px;
    margin-top: 0.5em;
    box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 10px #333;
    -moz-box-shadow: 0px 0px 10px #333;
    background-color: #222;
    padding: 5px; 
}

#map {
    background-color: #222;
    display: none;
}

.dialog {
    width: 204px;
    padding: .5em 1em;
    margin: auto;
    margin-top: 2em;
    background-color: black;
    color: white;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    box-shadow: 0px 0px 20px black;
    -webkit-box-shadow: 0px 0px 10px black;
    -moz-box-shadow: 0px 0px 10px black;
}

.dialog label {
    display: block;
}
.dialog input[type="text"] {
    width: 200px;
}

#header {
    background-color: #222;
    color: #EEE;
    margin-top:0;
}   
#chat {
    display: none;
}

#chat_input {
    width: 718px;
    background-color: #444;
    border: 1px solid #333;
}

#chat_log {
    height: 200px;
    overflow: auto;
    color: #EEE;
}
